
<nav>
    <ul>
        <li><a [routerLink]="['/parent']" [queryParams]="{ order: 'popular'}" routerLinkActive="active">Parent Component</a></li>
        <li><a routerLink="/user" routerLinkActive="active">User Component</a></li>
    </ul>
</nav>

<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
<router-outlet></router-outlet>

